@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #18478e;
  --foreground-light: #4372b9;
}
body {
  color: var(--foreground);
}


/** App styling **/

body {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button, button, input[type="submit"] {
  padding: 0.5rem 1rem;
  border-radius: 2.0rem;

  border: 1px solid var(--foreground);
  background: var(--foreground);
  color: white;
  box-shadow: 0px 0.25rem #071428;

  display: flex;
  justify-content: center;

  transition: all 0.1s ease-in-out;
}

.button:hover, button:hover, input[type="submit"]:hover {
  background: var(--foreground-light);
}

.button:active, button:active, input[type="submit"]:active {
  transform: translateY(0.25rem);
  box-shadow: none;
}

input[type="email"] {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(var(--foreground-rgb));
}

a:not(.button), span.link {
  color: blue;
  text-decoration: underline;
}

main {
  margin: 0 auto;
  width: min(100vw, 600px);
  padding: 1rem;
  padding-top: 3rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}