@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #18478e;
  --foreground-light: #3e6db3;
  --text-light: #fff;
  --background: #F9F9F9;
}

body {
  color: var(--foreground);
  background: var(var(--background));
}


/** App styling **/

.meta {
  font-size: 0.75rem;
}

.large {
  font-size: 1.125rem;
}

.button, button, input[type="submit"] {
  padding: 0.5rem 1rem;
  border-radius: 2.0rem;

  border: 1px solid var(--foreground);
  background: var(--foreground);
  color: var(--text-light);
  box-shadow: 0px 0.25rem #071428;

  display: flex;
  justify-content: center;

  transition: all 0.1s ease-in-out;
}

.button:hover, button:hover, input[type="submit"]:hover {
  background: var(--foreground-light);
}

.button:active, button:active, input[type="submit"]:active {
  transform: translateY(0.25rem);
  box-shadow: none;
}

.secondary {
  background: transparent;
  color: var(--foreground);
}

.secondary:hover {
  color: white;
}

input[type="email"] {
  padding: 0.5rem 3rem;
  border-radius: 2rem;

  border: 1px solid var(--foreground);
  color: var(--foreground);
  box-shadow: 0px 0.125rem #071428;

  background: var(--background) url('/email.svg') no-repeat left 16px center;
}

a:not(.button), span.link {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

main {
  margin: 0 auto;
  width: min(100vw, 600px);
  padding: 0 2rem;
}

em {
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(45deg, #18478e, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style-type: circle;
}

ul li {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid var(--foreground);
}